---
layout: default
pagination:
  enabled: true
---
{% for post in paginator.posts %}
  <div class="card mb-3 shadow-sm" style="margin-top: 4rem">
    <a href="{{site.baseurl}}{{post.url}}">
      <div class="card-image" style="background-image: url('{{ post.photo_url }}')"></div>
    </a>
    <div class="card-body">
      <h5 class="card-title font-weight-bold"><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h5>
      <p class="card-text">{{ post.content | strip_html | truncatewords: 30 }}<a href="{{site.baseurl}}{{post.url}}" class="read-more"> Read more</a></p>
      <p class="card-text">
        <small class="text-muted">{{ post.date | date: "%d/%m/%Y" }}</small>
      </p>
    </div>
  </div>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <ul class="pager pagination">
      {% if paginator.previous_page %}
      <li class="page-item previous float-left font-weight-bold">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-previous shadow-sm font-weight-bold p-3">&larr; newer posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="page-item next float-right ml-auto">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-next shadow-sm font-weight-bold p-3">older posts &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}