---
layout: default
pagination:
  enabled: true
---
{% for post in paginator.posts %}
  <div class="card mb-3 shadow-sm" style="margin-top: 4rem">
    <a href="#">
      <div class="card-image" style="background-image: url('https://source.unsplash.com/random')"></div>
    </a>
    <div class="card-body">
      <h5 class="card-title font-weight-bold"><a href="#">{{ post.title }}</a></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
        bit longer.</p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <ul class="pager pagination">
      {% if paginator.previous_page %}
      <li class="page-item previous float-left font-weight-bold">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-previous shadow-sm font-weight-bold p-3">&larr; newer posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="page-item next float-right ml-auto">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-next shadow-sm font-weight-bold p-3">older posts &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}