<footer class="footer">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <p class="text-white text-justify">
      <a href="{{site.baseurl}}/">Predrag Stošić</a>, 2018. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed
      <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.</p>
  </div>
</footer>

<script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
</body>

</html>