<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" sizes="32x32" href={{ "../assets/favicon.png" | absolute_url }}>
  <title>Predrag Stošić</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body style="background-color: #F0F2F4">
<script src="/assets/loading.js"></script>
<a class="button is-info is-outlined" id="to-top" onClick="toTop()">
  <span class="icon">
    <i class="fas fa-caret-up fa-lg"></i>
  </span>
</a>
