<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h1 class="my-0 mr-md-auto font-weight-bold display-4">
        <a href="{{site.baseurl}}/" class="title">
          stole
        </a>
      </h1>
    </div>

    <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-end">
      <nav class="my-2 my-md-0 items line-up">
        <a class="p-1 m-1 text-muted font-weight-bold" href="https://github.com/stoleS" target="_blank">github</a>
        <a class="p-1 m-1 text-muted font-weight-bold" href="{{site.baseurl}}/archive">archive</a>
        <a class="p-1 m-1 text-muted font-weight-bold" href="#">about</a>
        <a class="p-1 m-1 text-muted font-weight-bold" href="#">contact</a>
      </nav>
    </div>
  </div>
</div>