<!-- START NAV -->
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="{{site.baseurl}}/">
        <img src="/assets/logo.png" alt="Stole">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item {% if page.active == 'index' %}is-active{% endif %}" href="{{site.baseurl}}/">
          Home
        </a>
        <a class="navbar-item {% if page.active == 'archive' %}is-active{% endif %}" href="{{site.baseurl}}/archive">
          Archive
        </a>
        {% comment %} <a class="navbar-item" href="{{site.baseurl}}/about">
          About
        </a> {% endcomment %}
        <a class="navbar-item {% if page.active == 'contact' %}is-active{% endif %}" href="{{site.baseurl}}/contact">
          Contact
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" id="social">
            Social
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" target="_blank" href="https://github.com/stoleS">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>GitHub</span>
            </a>
            <a class="navbar-item" target="_blank" href="https://linkedin.com/in/predragstosic96">
              <span class="icon">
                <i class="fab fa-linkedin"></i>
              </span>
              <span>LinkedIn</span>
            </a>
            <a class="navbar-item" target="_blank" href="https://www.facebook.com/stosic.predrag.96">
              <span class="icon">
                <i class="fab fa-facebook-square"></i>
              </span>
              <span>Facebook</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- END NAV -->