--- 
layout: default 
---
<div class="post-wrapper">
  <div class="card bg-dark text-white single-post-header">
  <img class="card-img" src="{{ page.photo_url }}" alt="Card image">
  <div class="card-img-overlay d-flex align-items-center justify-content-center">
    <h5 class="card-title single-post-title">{{ page.title }}</h5>
  </div>
</div> 
  <p class="text-muted font-italic post-author text-right">Posted by <a href="https://github.com/stoleS" class="read-more">{{ page.author }}</a> on {{ page.date | date: "%b %d, %Y" }}</p>
  {{ content }}
  <ul class="pager pagination">
    {% if page.next.url %}
    <li class="page-item float-left font-weight-bold">
      <a href="{{ page.next.url }}" class="font-weight-bold">&laquo; {{ page.next.title }}</a>
    </li>
    {% endif %} {% if page.previous.url %}
    <li class="page-item float-right ml-auto">
      <a href="{{ page.previous.url }}" class="font-weight-bold">{{ page.previous.title }} &raquo;</a>
    </li>
    {% endif %}
  </ul>
</div>